.app {
    overflow: hidden;
    /* min-height: 300rem; */
}

.header {
    margin-bottom: 5rem;
}

.header__top {
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    background-color: var(--primary-color);
    font-size: 1.4rem;
}

.text__left {
    font-weight: 400;
    color: #fff;
}

.text__right {
    text-align: left;
    color: #fff;
}

.switcher {
    display: flex;
    justify-content: flex-end;
}

.switcher__item {
    position: relative;
    cursor: pointer;
    margin-left: 3rem;
}

.item {
    display: flex;
    align-items: center;
    font-weight: 400;
}

.item i {
    padding-left: 0.8rem;
}

.dropdown {
    position: absolute;
    z-index: 1;
    background-color: var(--black-color);
    top: 190%;
    min-height: 0;
    width: 12rem;
    text-align: left;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: var(--text-color);
    display: none;
    animation: fadeIn linear 0.3s;
}

.dropdown::before {
    content: "";
    border-width: 2rem 2.7rem;
    border-style: solid;
    border-color: transparent transparent var(--black-color) transparent;
    position: absolute;
    right: 0.4rem;
    top: -3rem;
}

/* cầu nối */
.dropdown::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -1.6rem;
    /* background: #000; */
    width: 12rem;
    height: 2rem;
}

.dropdown__item {
    padding: 1rem 6rem 1rem 1rem;
}

.dropdown__item:hover {
    color: var(--primary-color);
}

.switcher__item:hover .dropdown {
    display: block;
}

.sticky {
    position: fixed;
    display: flex;
    justify-content: space-arround;
    z-index: 8888;
    width: 100%;
    top: 0;
    left: 0;
    /* transform: translateY(1%);
    line-height: 2; */
    /* background: rgba(255, 255, 255, 0.9); */
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeInDown linear 0.5s;
    box-shadow: 0 -0.5rem 2rem var(--primary-color);
}


.header__middle {
    justify-content: space-between;
    align-items: center;
    height: var(--header-middle);
}

.logo {}

.logo__link {}

.header__middle-center {}

.footer__top-img,
.logo__link-img {
    width: 20rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__list {
    display: flex;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar__item {
    margin: 0 1rem;
}

.navbar__dropdown-list-link:hover {
    color: var(--primary-color);
}

.navbar__dropdown-list-link {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.navbar__dropdown-list-item p {
    margin: 1rem 0rem 0.5rem;
    font-size: 1.6rem;
    color: #7e7e7e;
    text-transform: lowercase;

    /* fix cao */
    line-height: 2.3rem;
    height: 4.6rem;
    /* ẩn chữ thừa */
    overflow: hidden;
    /* -webkit-box ko chạy thì chạy block */
    display: block;
    /* xử lý chữ tòi ra nhiều dòng */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.navbar__dropdown-list-img {
    width: 57rem;
    height: 15rem;
}

.navbar__item-dropdown {
    display: none;
}

/* cầu nối */
.navbar__item-dropdown::after {
    content: "";
    display: block;
    position: absolute;
    /* background-color: #000; */
    width: 7rem;
    height: 2rem;
}

.navbar__dropdown {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 60rem;
    margin-top: 2rem;
    padding: 1.5rem;
    box-shadow: 0 -0.5rem 2rem var(--primary-color);
    background-color: var(--black-color);
    z-index: 1;
}

.navbar__dropdown-item {}

.navbar__dropdown-link {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    display: inline-block;
}

.dropdown__subnav {}

.dropdown__subnav-item {}

.dropdown__subnav-link {
    font-size: 1.6rem;
    line-height: 3rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.dropdown__subnav-link:hover {
    color: var(--primary-color);
}

.navbar__dropdown-item {}

.navbar__dropdown-link:last-child {
    margin-bottom: 0;
}

.dropdown__subnav {}

.dropdown__subnav-item {}

.navbar__dropdown-item {}

.navbar__dropdown-link {}


.navbar__dropdown-img {
    height: 15rem;
    width: 10rem;
    display: inline-block;
}

.navbar__link {}

.navbar__link:hover {
    color: var(--primary-color);
}

.navbar__item:hover .navbar__item-dropdown {
    display: block;
}

.navbar__link-new {
    position: absolute;
    background-color: var(--red-color);
    width: 4.5rem;
    height: 1.8rem;
    line-height: 1.9rem;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    transform: translate(-100%, -100%);
    font-weight: 700;
    border-radius: 5rem;
}

.navbar__link-new::after {
    position: absolute;
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--red-color);
    bottom: -0.2rem;
    transform: rotate(-45deg);
    left: 0.6rem;
}

.navbar__link-old {
    background-color: blue;
    position: absolute;
    width: 4.5rem;
    height: 1.8rem;
    line-height: 1.9rem;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    transform: translate(-100%, -100%);
    font-weight: 700;
    border-radius: 5rem;
}

.navbar__link-old::after {
    position: absolute;
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    background-color: blue;
    bottom: -0.2rem;
    transform: rotate(-45deg);
    left: 0.6rem;
}

.user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user__item {
    position: relative;
    cursor: pointer;
    width: 100%;
}

.user__item:hover .user__dropdown {
    display: block;
}

.user__item:hover .user__link-icon,
.user__dropdown-link:hover,
.user__item:hover {
    color: var(--primary-color);
}

/* cầu */
.user__dropdown::after {
    content: "";
    display: block;
    position: absolute;
    right: 1.5rem;
    top: -0.6rem;
    /* background: #000; */
    width: 10rem;
    height: 2rem;
}

.user__link-icon {
    margin-left: 3rem;
    font-size: 2.5rem;
    color: var(--text-color);
}

.user__dropdown {
    z-index: 1;
    position: absolute;
    background: var(--black-color);
    border: 1px solid var(--primary-color);
    top: 110%;
    padding: 0.5rem;
    text-align: left;
    border-radius: 0.5rem;
    color: var(--text-color);
    display: none;
    animation: fadeIn linear 0.3s;
}

.user__dropdown-list {
    /* margin: 0.5rem; */
}

.user__dropdown-link {
    /* fix chiều rộng chữ */
    white-space: nowrap;
    font-size: 1.4rem;
    padding: 0 1.5rem;
    line-height: 3rem;
    display: block;
}

.user__icon-img {
    position: relative;

}

.user__icon-notice {
    background-color: var(--primary-color);
    position: absolute;
    width: 2rem;
    height: 1.8rem;
    line-height: 0.8rem;
    text-align: center;
    color: var(--text-color);
    font-size: 1.2rem;
    border: 2px solid var(--primary-color);
    padding: 0.3rem 0.4rem;
    border-radius: 1rem;
    transform: translate(-50%, 50%);
}

/* Categories */

.header__bottom {
    justify-content: center;
    align-items: center;
}

.category__wrap {}

.categories__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 1.6rem;
    cursor: pointer;
    text-transform: uppercase;
}

.category__menu {
    z-index: 1;
    position: absolute;
    background-color: var(--black-color);
    border: 1px solid var(--primary-color);
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    top: 5rem;
    padding: 1rem 0;
    /* box-shadow: 0 -0.5rem 2rem var(--primary-color); */
}

.categories__list {
    margin: 0;
}

.categories__link:hover {
    color: var(--primary-color);
}

.categories__link {
    display: block;
    padding: 1rem 4rem;
}

.categories__list-dropdown {
    padding-left: 2rem;
    display: none;
}

/* search */
.search__container {
    position: relative;
    height: 5.2rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
}

.search__container:hover {
    box-shadow: 0 -0.5rem 2rem var(--primary-color);
}

/* .search__container:hover .search__history {
    display: block;
} */

.search__btn-icon {
    font-size: 2rem;
    padding: 1rem;
    color: var(--text-color);
}

.search__btn {
    background-color: transparent;
    border: none;
    outline: none;
}

.search__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 2rem;
    color: var(--primary-color);
    background-color: var(--text-color);
    padding: 0 2rem;
}

.search__btn-icon:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.search__wrap {
    /* flex: 1; */
    height: 100%;
    width: 100%;
}

.search__history {
    position: absolute;
    border: 1px solid var(--primary-color);
    top: 100%;
    left: -0.1rem;
    /* width: calc(100% + 4.2rem); */
    width: calc(100% + 0.2rem);
    color: var(--primary-color);
    background-color: var(--black-color);
    box-shadow: 0 -0.5rem 2rem var(--primary-color);
    display: none;
    overflow: hidden;
    z-index: 1;
}

.search__history-heading {
    margin: 1rem 2rem;
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}

.search__history-list {
    margin: 1rem 0 0;
}

.search__history-item {
    height: 3rem;
    padding: 0 2rem;
    font-size: 1.4rem;
}

.search__history-item:hover .search__history-link,
.search__history-item:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.search__history-link {
    line-height: 3rem;
    display: block;
}

.call {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.6rem;
}

.call i,
.call p {
    color: var(--text-color);
    margin: 0;
}

.call p a {
    display: inline;
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.call p a:hover {
    color: red;
}

/* --------------------------------- */
/* end header */
/* container */

.slide__container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide img {
    height: 60rem;
}

.slide__container:hover .slide__btn {
    display: block;
}

.slide__btn {
    display: none;
}

.slide__btn button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    background: rgba(0, 0, 0, 0.18);
    color: #fff;
    padding: 30px 20px;
    font-size: 30px;
}

.slide__btn .prev {
    left: 0;
}

.slide__btn .next {
    right: 0;
}

/* Ẩn các slider */
.slide {
    display: none;
}

.dot__list {
    text-align: center;
    margin-top: -30px;
}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: hsla(0, 0%, 100%, 0.4);
    border-radius: 50%;
    display: inline-block;
}

.active__slideshow {
    background-color: #EC4428;
}

.next:hover,
.prev:hover {
    background: rgba(0, 0, 0, 0.3);
}

.slide__textBtn {
    position: absolute;
    top: 20%;
    /* transform: translateY(-50%); */
}

.slide__textBtn-text {
    color: #555;
    text-shadow: 0.1rem 0 #fff;
}


.slide__textBtn h1 {
    font-size: 2rem;
    margin: 0 0 3rem;
    font-weight: 700;
}

.slide__textBtn h2 {
    font-size: 6rem;
    line-height: 6rem;
    font-weight: 400;
    margin: 0 0 2.4rem;
}

.slide__textBtn p {
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin: 0;
}

.btn__mega {
    background: #222;
    padding: 0 4.5rem;
    font-weight: 500;
    height: 5.8rem;
    line-height: 5.8rem;
    display: inline-block;
    border-radius: 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--text-color);
    margin-top: 4rem;
}

.btn__mega.btn__primary:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.btn__mega:hover {
    background-color: var(--primary-color);
}

/* ---------------------- */
/* banner */
.banner {
    padding: 3rem 0 9rem;
}

.banner__content {
    position: relative;
    text-align: center;
}

.banner__content-link {
    width: 100%;
}

.banner__textBtn.banner__textBtn-left {
    left: 40%;
}

.banner__textBtn {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #555;
    text-shadow: 0.1rem 0 #fff;
}

.banner__textBtn h3 {
    margin: 0 0 1.2rem;
    letter-spacing: 0.4rem;
    color: var(--primary-color);
    font-size: 1.6rem;
    margin-bottom: 12px;
}

.banner__textBtn h2 {
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
}

.banner__textBtn h4 {
    font-weight: normal;
    letter-spacing: 0.5rem;
    margin: 1.2rem 0 0;
    color: var(--primary-color);
    font-size: 1.6rem;
}

.btn__banner {
    background: transparent;
    color: #333;
    border: 1px solid #222;
    margin: 2.5rem 0 1rem;
    padding: 2rem 3.2rem;
    font-size: 1.3rem;
    line-height: 0;
    height: 0;
    font-weight: 400;
}

.btn__banner:hover {
    color: #fff;
    border-color: var(--primary-color);
}

/* top categories  */
.top__categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2.5rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid var(--primary-color);
}

.top__categories h2 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    color: var(--text-color);
    font-weight: 500;
    margin: 0;
}

.btn__cate {
    display: inline-block;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;
    margin: 0;
}

.btn__cate:hover {
    color: var(--text-color);
}

.inner__categories {
    border-left: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
}

.bottom__categories {
    border-bottom: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
}

.bottom__categories:hover {
    /* box-shadow: 0 -0.5rem 2rem var(--primary-color); */
    box-shadow: 0 0 3rem 0 var(--primary-color);
}

.bottom__categories-item {
    display: flex;
    padding: 0.7rem 1rem;
    align-items: center;
}

.bottom__categories-content {
    padding: 1rem;
}

.bottom__categories-content h4 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin: 0 0 1rem;
}

.bottom__categories-content p {
    font-size: 1.3rem;
    line-height: 2.3rem;
    margin: 0;
}

.bottom__categories-img {
    width: 70%;
}

.bottom__categories-link img {
    max-width: 100%;
}

/* Trending Products */
.products {
    padding: 9.5rem 0 6rem;
}

.products__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
    border-bottom: 1px solid var(--primary-color);
}

.products__top h2 {
    font-size: 3.6rem;
    line-height: 3.6rem;
    color: var(--text-color);
    font-weight: 500;
    margin: 0;
}

.products__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.products__item:hover .products__link {
    color: var(--primary-color);
}

.products__item {}

.products__link {
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
    font-weight: 400;
}

/* Trending Products */
.products__single {
    margin-bottom: 3rem;
    border: 1px solid var(--primary-color);
}

.products__content {
    position: relative;
    margin: 2rem;
}

.products__content-img {
    height: 20.6rem;
}

.products__content-countdown {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    text-align: center;
}

.products__single:hover .products__content-countdown {
    display: none;
}

.count {
    color: var(--primary-color);
    background-color: var(--text-color);
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin: 0.5rem 0;
    padding-top: 0.6rem;
}

.count p {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 2px;
    line-height: 12px;
    margin: 0;
    padding: 0;
}

.count span {
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 14px;
    text-transform: capitalize;
}

.products__content-sale {
    position: absolute;
    padding: 0 1.4rem;
    font-size: 1.4rem;
    border-radius: 5rem;
    display: block;
    height: 2.4rem;
    line-height: 2.4rem;
    top: 5%;
    left: 5%;
    color: var(--primary-color);
    background: var(--text-color);
}

.products__content-submenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    display: none;
}

.product__sunbmenu {
    display: flex;
    justify-content: center;
    margin: 0;
}

.products__single:hover .products__content-submenu {
    display: block;
}

.product__sunbmenu-item {
    padding: 0.2rem;
}

.product__sunbmenu-link {
    line-height: 4rem;
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
    background-color: var(--text-color);
    border-radius: 50%;
    color: var(--primary-color);
    padding-left: 1rem;
}

.product__sunbmenu-link:hover {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.product__sunbmenu-icon {}

.products__description {
    text-align: center;
    margin-top: 2.2rem;
}

.product__rating-icon {
    color: #FF9800;
    font-size: 1.5rem;
}

.product__name {
    font-size: 1.4rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0.6rem 0 1.6rem;
}

.product__name-link {
    display: initial;
}

.product__name a:hover {
    color: var(--primary-color);
}

.product__price {
    padding-bottom: 2rem;
}

.product__price-new {
    font-weight: 500;
    font-size: 2rem;
    color: var(--primary-color);
}

.product__price-old {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: var(--text-color);
}

/* --------------------------- */
/* cbd */
.cbd {
    background: url(/assets/img/banner3.jpg) center center / cover no-repeat;
    padding: 3%;
    margin: 1rem 0 10rem;
}

.cbd__content {
    color: #555;
    text-shadow: 0.1rem 0 #fff;
    float: right;
    /* text-align: right; */
}

.cbd__content h3 {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin: 0 0 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.cbd__content h2 {
    font-size: 6rem;
    line-height: 6rem;
    margin: 0 0 3rem;
}

.cbd__content p {
    font-size: 1.8rem;
    line-height: 2.3rem;
    margin: 0;
}

/* ourt client say  */
.client {
    background: url(/assets/img/banner4.jpg) no-repeat center center / cover;
    /* padding: 5rem 0; */
    margin: 9rem 0;
}

.client__content {
    text-align: center;
}

.client__content-top {
    position: relative;
    padding: 4rem 0;
    margin-bottom: 4rem;
    text-shadow: 0.1rem 0 #fff;
}

.client__content-top h2 {
    font-size: 4rem;
    line-height: 5rem;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize;
}

.client__content-top::after {
    position: absolute;
    content: "";
    width: 20rem;
    height: 0.3rem;
    background-color: #222222;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%);
}

#brand:hover .brand__nav,
.client__content-bottom:hover .client__nav {
    cursor: pointer;
    display: block;
}

.client__content-bottom {
    position: relative;
    margin: 5rem 0;
}

.client__content-list {
    margin: 0;
}

.client__content-item:not(.active) {
    display: none;
}

.client__content-item {
    min-height: 30rem;
}

.client__content-item p {
    text-shadow: 0 0 0.5rem #EC4428, 0 0 0.5rem #28ec38;
    font-size: 2rem;
    font-style: italic;
    margin-bottom: 0;
    padding: 0 17rem;
    line-height: 3rem;
    margin: 0;

    /* Số dòng tối đa bạn muốn hiển thị */
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.client__content-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.client__content-img img {
    width: 10%;
    margin-bottom: 1rem;
}

.client__content-img span {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
}

.brand__nav,
.client__nav {
    font-size: 5rem;
    text-shadow: 0 0 0.5rem #EC4428, 0 0 0.5rem #28ec38;
    display: none;
}

.brand__nav-prev,
.client__nav-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.brand__nav-next,
.client__nav-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.brand__nav-prev:hover,
.brand__nav-next:hover,
.client__nav-prev:hover,
.client__nav-next:hover {
    opacity: 0.8;
}

/* ----------------------- */
/* latest */
#latest {
    /* padding-bottom: 10rem; */
}

.latest__content {
    margin: 0;
}

.latest__img {
    height: 25rem;
}

.latest__description {
    text-align: left;
    color: var(--text-color);
}

.latest__description h4 {
    font-size: 1.8rem;
}

.latest__time p,
.latest__time span {
    font-size: 1.3rem;
}

.latest__time p:nth-child(2) {
    /* dòng tối đa */
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.btn__primary {
    background-color: var(--primary-color);
    margin: 0;
    font-size: 1.3rem;
    height: 1.2rem;
    line-height: 0rem;
    padding: 2rem 5rem;
    text-transform: capitalize;
}

.latest__nav {
    display: none;
}

#latest:hover .latest__nav {
    display: block;
}

.latest__nav-next,
.latest__nav-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    text-shadow: 0 0 0.5rem #EC4428, 0 0 0.5rem #28ec38;
}

.latest__nav-next {
    right: 0;
}

.latest__nav-prev {
    left: 0;
}

.latest__nav-prev:hover,
.latest__nav-next:hover {
    cursor: pointer;
    opacity: 0.7;
}

/* subscribe */
.subscribe {
    padding: 2rem 0 9rem;
}
.subscribe__form {
    position: relative;
    border-bottom: 1px solid #000;
    width: 60rem;
    margin: 0 auto;
    text-shadow: 0.1rem 0 #fff;
}

.subscribe__form input {
    width: 100%;
    border: 0;
    background: none;
    padding: 0 10rem 0 5rem;
    height: 5rem;
    font-size: 2rem;
    color: #222;
    outline: none;
}

.subscribe__form button {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    height: 100%;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: inherit;
    cursor: pointer;
    text-shadow: 0.1rem 0 #fff;
}

.subscribe__form .subscribe__icon {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 500;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 0;
}

/* brand logo */
#brand {
    margin-bottom: 10rem;
}

.brand__img {
    min-height: 25rem;
    border-radius: 50%;
    opacity: 0.5;
}

.brand__img:hover {
    opacity: 1;
}

/* ----------------------------- */
/* footer */
.footer__top {
    padding: 10rem 0 7rem;
    border-bottom: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
}

.footer__top-link {
    /* margin-bottom: 3rem; */
}

.footer__address p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 2.4rem;
    color: var(--text-color);
}

.footer__address i {
    margin-right: 1rem;
}

.footer__social {
    margin-top: 2rem;
    display: flex;
}

.footer__social-link {
    font-size: 1.4rem;
    background-color: var(--primary-color);
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: 50%;
    text-align: center;
    margin-right: 1rem;
}

.footer__social-link:hover {
    font-size: 2.5rem;
    background-color: var(--text-color);
    color: var(--primary-color);
}

.footer__menu {
    color: var(--text-color);
}

.footer__menu h3 {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 0 0 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}

.footer__menu ul {
    margin: 0;
    padding: 0;
}

.footer__menu a {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;
}

.footer__menu a:hover {
    font-size: 1.6rem;
    color: var(--primary-color);
}

.footer__menu p {
    font-size: 1.4rem;
    line-height: 3rem;
    margin: 0;
}

.footer__menu-app {
    margin: 0;
}

.footer__menu-app a {
    font-size: 2rem;
    font-weight: 700;
    margin: 3rem 0 0;
    text-decoration: underline;
}

.footer__top-item {
    margin-bottom: 3rem;
}

.footer__bottom {
    padding: 3rem 0;
}

.footer__bottom p {
    text-transform: capitalize;
    font-size: 1.4rem;
    color: var(--text-color);
}

/* ------------- */
/* scoll up */
.scrollUp {
    position: fixed;
    z-index: 9999;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    background: var(--black-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    right: 2rem;
    text-align: center;
    text-transform: uppercase;
    bottom: 8.5rem;
    font-size: 1.5rem;
    /* display: none; */
}

.scrollUp:hover i{
    animation: scroll linear 1s infinite;
}

.scrollUp:hover {
    background: var(--primary-color);
}

/* mobile nav */
.mobile {
    position: relative;
    display: none;
}

.icon__bars {
    position: absolute;
    right: 1rem;
    top: -20rem;
    font-size: 4rem;
    color: var(--text-color);
}

.mobile__menu-close:hover,
.icon__bars:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.mobile__overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    opacity: 0.5;
    cursor: crosshair;
    background-color: #fff;
    top: 0;
    display: none;
}

.mobile__overlay-active {
    display: block;
}

.mobile__menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 35rem;
    max-width: 100%;
    height: 100vh;
    z-index: 999999;
    padding-right: 5rem;
    transform: translateX(-100%);
}

.mobile__menu-active {
    transform: translateX(0);
}

.mobile__menu-close {
    position: absolute;
    top: 0;
    right: 0;
    background: #333;
    z-index: 9999999;
    width: 5rem;
    height: 5rem;
    color: var(--text-color);
    line-height: 41px;
    text-align: center;
    font-size: 5rem;
}

.mobile__menu-main {
    /* background-color: #ccc; */
    background-color: #000;
    height: 100%;
    box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.9)
}

.switcher__mobile {
    margin: 0;
    padding-top: 5rem;
}

.switcher__mobile-item {
    margin: 0;
    display: flex;
    justify-content: center;
}

.switcher__mobile-item>.item {
    color: var(--text-color);
    font-size: 1.5rem;
}

.switcher__mobile-item>.dropdown {
    font-size: 1.4rem;
}

.search__mobile {
    padding-top: 2rem;
}

.user {
    margin: 0;
    padding-top: 2rem;
}

.navbar__mobile {
    padding-top: 5rem;
}

.navbar__mobile-list {
    padding: 0 1rem;
    margin: 0;
    flex-direction: column;
    justify-content: space-evenly;
}

.navbar__mobile-item {
    position: relative;
    left: 1rem;
    padding: 1.5rem 0;
}

.navbar__mobile--link {}

.navbar__mobile-icon {
    position: absolute;
    right: 2rem;
}

.dropdown__mobile-item {
    margin-bottom: 10px;
    padding: 1em 0 0.5rem 1rem;
}

/* owl */
#slide__show .owl-carousel {
    z-index: 0;
}

.owl-item {
    position: relative;
    /* height: 70rem; */
}

.owl-theme {
    font-size: 5rem;
}

#slide__show .owl-theme .owl-nav {
    top: 50%;
    position: absolute;
    width: 100%;
    margin: 0;
}

.owl-theme .owl-nav .owl-prev {
    left: 3%;
    position: absolute;
}

.owl-theme .owl-nav .owl-next {
    right: 3%;
    position: absolute;
}

#slide__show .owl-theme .owl-nav .owl-next:hover,
#slide__show .owl-theme .owl-nav .owl-prev:hover {
    font-size: 10rem;
    background: transparent;
}

.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.single_slider {
    height: 60rem;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}

#slide__show .owl-theme .owl-dots .owl-dot:hover span,
#slide__show .owl-theme .owl-dots .owl-dot.active span {
    background-color: #EC4428;
}

/* about */
.about {
    padding: 9rem 0;
    display: flex;
    color: var(--text-color);
    align-items: center;
}

.about__content {
}

.about__content h2 {
    margin: 0 0 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
}

.about__content p {
    font-size: 1.5rem;
    margin: 0;
    line-height: 2rem;
}

.about__content-item {
    margin: 3rem 0;
}

.diversity {
    color: var(--text-color);
    justify-content: space-between;
    margin-bottom: 6rem;
    padding-top: 6rem;
    border-top: 3px solid var(--primary-color);
}

.diversity__item {
    text-align: center;
}

.diversity__item h2 {
    font-size: 2rem;
    margin: 0;
}

.diversity__item p {
    font-size: 1.5rem;
    margin: 3rem 0 0;
    line-height: 2rem;
}

.diversity__img {
    display: flex;
    justify-content: center;
}

.diversity__img img {
    width: 10rem;
    height: 6rem;
    margin: 3rem 2rem 0 1rem;
    border: 1px solid var(--primary-color);
}